@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

html, body {
    height: 100vh;
    font-family: "Source Sans Pro";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: #59C9A5;
    z-index: 10;
    position: static;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 980px;
    margin: auto;
    
    
}
header .container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 980px;
    margin: auto;
    padding: 0px 0px 10px;
    height: 10%;
}

header img {
    width: 150px;
    margin-left: 20px;
    padding: 15px 0;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 2.4rem;
    transition: all 250ms linear 0s;
}

header nav ul li a span {
   font-size: 2.5rem;
   margin-right: 0.5rem;
   padding: 0;
   vertical-align: -0.5rem;
}

header nav ul li input {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
    
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15)
}

h2 {
    color: rgb(75, 75, 75);
    font-size: 3.6rem;
    line-height: 4.6rem;
}

h3 {
    color: rgb(75, 75, 75);
    font-size: 2.8rem;
    line-height: 3.8rem;
}

.button {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 89, 193);
    margin: 15px 0px 0px;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 150ms linear 0s;
}

.button:hover {
    opacity: 0.9;
}

.localizacao-a {
    border-radius: 8px;
    text-decoration: none;
    align-items: center;
    overflow: hidden;
    margin-top:2px;
    margin-left: 20px;
}

.user-a {
    
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;

    
}
.user-span {
    color: #096d17;
    padding: 10 10 10 10 ;
    font-size: 2.5rem;

}

.localizacao-span {
    color: #FFFFFF;
    margin-right: 5px;
    padding: 0 0 0 0 ;
    font-size: 2.5rem;
}

.localizacao-strong {
    color: #FFFFFF;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
